@model ödev_3.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Musteri", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.MUSTERIıD)
    @Html.TextBoxFor(m => m.MUSTERIıD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.MUSTERIAD)
    @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.MUSTERISOYAD)
    @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
</div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}
